:root {
	--bezier: cubic-bezier(.49,.24,.25,1.7);
}
html {
  height: 100%;
  width: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "General Sans", sans-serif;
	overflow: hidden;
}
i::before {
	font-weight: inherit !important;
}
input {
	font-family: inherit;
	font-size: inherit;
}
header {
	height: 10vh;
	display: grid;
	place-content: center;
	font-size: 1.2em;
	font-weight: bold;
}
/* RESULTS */
.result-name {
	font-weight: bold;
}
.result-description {
	font-style: italic;
}
.search-input {
	padding: .4em .5em;
	border: 1px solid grey;
	border-radius: 50vh;
}
.search-header {
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr 2em;
	gap: .5em;
}
.search-button {
	color: white;
	background-color: black;
	border: none;
	border-radius: 50vh;
	cursor: pointer;
	height: 100%;
	aspect-ratio: 1;
}
.search-body {
	width: clamp(
		0px,
		40rem,
		calc(100vw - 2rem)
	);
	margin-inline: auto;
}
.result-list {
	display: grid;
	gap: .5em;
	list-style-type: none;
}
.result {
	display: grid;
	gap: .5em;
	grid-template-columns: 3rem 1fr;
	cursor: pointer;
	user-select: none;
	border-radius: 7px;
}
.result:hover {
	border: 1px solid #91a8c1;
}
.result-image {
	border-radius: 50vh;
	aspect-ratio: 1;
	object-fit: cover;
}
/* TIMELINE */
img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
.person-card {
	padding: .5em;
	border-radius: 10px;
	background-color: white;
	display: grid;
	grid-template-columns: 5em auto;
	gap: 1em;
	width: 20em;
	border: 1px solid #91a8c1;
	background: linear-gradient(0deg, #f7feff, #fff 70%);
}
.person-card:hover {
	border-color: #747a81;
	background: linear-gradient(0deg, #ecf2f4, #fff 90%);
}
.person-image {
	aspect-ratio: 1;
	border-radius: 5px;
	height: 5em;
}
.person-details {
	display: grid;
	align-content: center;
}
.person-description {
	font-style: italic;
	font-size: .9em;
}
.person-name {
	font-weight: bold;
}
#container {
 cursor: grab;
}

/* ##### */
.scroll-view {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.scroll-tree {
	padding: 25%;
	width: fit-content;
	font-size: .6rem;
	
	--card-height: 6em;
	--card-width: 20em;
	--tree-gap-x: 3em;
	--tree-gap-y: 3em;
	--connector-gap: 1em;
	--connector-radius: 10px;
	--connector-colour: #91a8c1;
	--connector-select-colour: hotpink;
}
.tree-list {
	list-style: none;
	display: grid;
	gap: var(--tree-gap-y);
}
.tree-item {
	display: flex;
	align-items: flex-start;
	gap: var(--tree-gap-x);
}
.tree-item:has(.person-card:hover) > .person-card {
	border: 1px solid var(--connector-select-colour);
	box-shadow: 0 0 3px 0 var(--connector-select-colour);
}
.tree-list, .tree-item {
	position: relative;
}
.tree-item:not(:last-of-type)::before {
	z-index: 1;
	
	content: "";
	position: absolute;
	
	left: calc(-1 * var(--connector-gap));
	
	height: calc(100% + var(--tree-gap-y));

	border-left: 1px solid var(--connector-colour);
}
.tree-item:first-of-type::before {
	height: calc(100% + var(--tree-gap-y));
	top: calc(var(--card-height) / 2);
}
.tree-item:has(~ .tree-item .person-card:hover)::before {
	border-color: var(--connector-select-colour);
}
.tree-item:has(.person-card:hover) > .person-card::before {
	z-index: 2;
	border-color: var(--connector-select-colour);
}
.person-card::before {
	z-index: 0;
	content: "";
	position: absolute;
	
	top: 0;
	left: calc(-1 * var(--connector-gap));

	height: calc(var(--card-height) / 2);
	width: var(--connector-gap);

	border-left: 1px solid var(--connector-colour);
	border-bottom: 1px solid var(--connector-colour);
	border-bottom-left-radius: var(--connector-radius);
}
.tree-item:first-of-type > .person-card::before {
	height: 0;
	top: calc(var(--card-height) / 2);
}
.person-alive {
	box-shadow: 0 0 3px 0 limegreen;
}

.root-marker {
	border-radius: 50vh;
	height: 4rem;
	aspect-ratio: 1;
	position: absolute;
	inset: 2rem;
	border: 1px solid red;
	background-color: rgb(255 255 255 / .8);
	translate: -50% -50%;
	user-select: none;
	z-index: 10;
	backdrop-filter: blur(2px);
	opacity: 0;
	scale: .7;
	transition: opacity 100ms var(--bezier), scale 100ms var(--bezier);
}
.root-marker::before {
	content: "\e8fd";
	
	font-family: unicons-line;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: absolute;
	top: -1.15em;
	left: 50%;
	transform: translateX(-50%);
}
.root-marker.visible {
	opacity: 1;
	scale: 1;
}
@keyframes root-marker {
	from {
		opacity: 0;
		scale: .7;
	}
	to {
		opacity: 1;
	}
}
@keyframes root-marker-hide {
	to {
		opacity: 0;
		scale: .7;
	}
}