/*
	=== GENERAL STYLES ===
*/

:root {
	/* Colours */
	--connector-colour: #91a8c1;
	--connector-select-colour: hotpink;
	--border-1: #91a8c1;
	--color-bg: #e5f2ff;

	/* Variables */
	--bezier: cubic-bezier(.49,.24,.25,1.7);
	
	--card-height: 6em;
	--card-width: 22em;
	--tree-gap-x: 3em;
	--tree-gap-y: 3em;
	--connector-gap: 1em;
	--connector-radius: 10px;
	--connector-width: .1rem;

	--connector-border: var(--connector-width) dashed var(--connector-colour);
}
html {
  height: 100%;
  width: 100%;
}
body {
	font-family: Figtree, Arial, Helvetica, sans-serif;
	overflow: hidden;
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
input, button {
	font-family: inherit;
	font-size: inherit;
}
i::before {
	font-weight: inherit !important;
}
/*
SELECT
*/
.select {
	position: relative;
	width: max-content;
	flex-shrink: 0;
}
.select-display {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: .5em;
	align-items: center;
	border: 1px solid rgb(0 0 0 / .2);
	background-color: transparent;
	padding: .2em .5em;
}
.select-display::after {
	content: "\eb3a";
	font-family: unicons-line;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.select.open > .select-list {
	display: grid;
}
.select-list {
	position: absolute;
	list-style-type: none;
	display: none;
	gap: .2em;
	margin-top: .2em;
	border: 1px solid rgb(0 0 0 / .2);
	border-radius: 5px;
	width: max-content;
	padding-block: .2em;
}
.select-list > li {
	padding-inline: .5em;
}
.select-list > li:hover {
	cursor: pointer;
	background-color: rgba(0 0 0 / .1);
}
.select-list > li.selected {
	color: dodgerblue;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: .5em;
	align-items: center;
}
.select-list > li.selected::after {
	content: "\e9c2";
	font-family: unicons-line;
	font-style: normal;
	font-weight: 400;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.scroll-bg {
	position: absolute;
	z-index: -1;
	background-color: #f4f3f4;
}

/*
	=== 🔍 SEARCH PAGE ===
*/

.main-header {
	height: 10vh;
	display: grid;
	place-content: center;
	font-size: 1.2em;
	font-weight: bold;
}
/*
	--- Search Header ---
*/

/* TEMPORARY */
.search-header {
	margin-top: 2rem;
	margin-bottom: 1rem;
	display: flex;
	gap: .5em;
	align-items: center;
}
.search-bar {
	border-radius: 50vh;
	display: flex;
	align-items: center;
	padding: .3em;
	padding-left: .5em;
	gap: .5em;
	border: 1px solid rgb(0 0 0 / .2);
	width: 100%;
	transition: box-shadow 100ms;
}
.search-bar > input {
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
}
.search-bar:focus-within {
	border-color: rgb(0 0 0 / .2);
	box-shadow: 0 3px 9px -2px rgba(0 0 0 / .3);
}
.input-toggle {
	height: 100%;
	flex-shrink: 0;
	aspect-ratio: 1;
	border-radius: 50vh;
	display: grid;
	place-content: center;
	padding: .2em;
	background-color: rgb(0 0 0 / .1);
}
.input-toggle:hover {
	background-color: rgb(0 0 0 / .2);
	cursor: pointer;
}
.search-body {
	width: clamp(
		0px,
		40rem,
		calc(100vw - 2rem)
	);
	margin-inline: auto;
}
/*
	--- Search Results ---
*/
.result-list {
	display: grid;
	gap: .5em;
	list-style-type: none;
}
.result {
	display: grid;
	gap: .5em;
	grid-template-columns: 3rem 1fr;
	cursor: pointer;
	user-select: none;
	border-radius: 7px;
	animation: pop-up 200ms var(--bezier) backwards;
	animation-delay: calc(50ms * var(--delay));
}
.result:hover {
	border: 1px solid #91a8c1;
}
.result-name {
	font-weight: bold;
}
.result-description {
	font-style: italic;
}
.result-image {
	border-radius: 50vh;
	aspect-ratio: 1;
	object-fit: cover;
}

/*
	📉 TIMELINE PAGE
*/

/* Tree */

.scroll-view {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.scroll-tree {
	padding: 5rem;
	width: fit-content;
	position: relative;
	transform-origin: 0 0;
}
.tree-list {
	list-style: none;
	display: grid;
	gap: var(--tree-gap-y);
}
.tree-item {
	display: flex;
	align-items: flex-start;
	gap: var(--tree-gap-x);
}
.tree-item:has(.person-card:hover) > .person-card {
	border-color: hotpink;
}
.tree-list, .tree-item {
	position: relative;
}

/* CONNECTORS */

.tree-item:not(:last-of-type)::before {
	z-index: 1;

	content: "";
	position: absolute;

	left: calc(-1 * var(--connector-gap));

	height: calc(100% + var(--tree-gap-y));

	border-left: var(--connector-border);
}
.tree-item:first-of-type::before {
	height: calc(100% + var(--tree-gap-y));
	top: calc(var(--card-height) / 2);
}
.tree-item:has(~ .tree-item .person-card:hover)::before {
	border-color: var(--connector-select-colour);
}
.tree-item:has(.person-card:hover) > .person-card::before {
	z-index: 2;
	border-color: var(--connector-select-colour);
}

.person-card::before {
	z-index: 0;
	content: "";
	position: absolute;

	top: 0;
	left: calc(-1 * var(--connector-gap));

	height: calc(var(--card-height) / 2);
	width: var(--connector-gap);

	border-left: var(--connector-border);
	border-bottom: var(--connector-border);
	border-bottom-left-radius: var(--connector-radius);
}
.tree-item:nth-child(1 of .tree-item)  > .person-card::before {
	height: 0;
	top: calc(var(--card-height) / 2);
}
.tree-list::before {
	content: "";
	position: absolute;
	left: calc(-1 * var(--tree-gap-x));
	top: calc(var(--card-height) / 2);
	width: calc(var(--tree-gap-x) - var(--connector-gap));
	border-bottom: var(--connector-border);
}
.tree-list:has(.person-card:hover)::before {
	border-color: var(--connector-select-colour);
}

/* PERSON CARD */

.person-card {
	padding: .5em;
	border-radius: 10px;
	background-color: white;
	display: grid;
	grid-template-columns: 5em auto;
	gap: 1em;
	width: var(--card-width);
	/*background: linear-gradient(0deg, #f7feff, #fff 70%);*/
	box-shadow: 0 3px 9px -2px rgba(0 0 0 / .2);
	border: var(--connector-width) solid #e6e6e6;
	animation: pop 100ms var(--bezier);
}
.person-alive {
	border-color: limegreen;
}
.person-card.wikipedia .person-name {
	color: dodgerblue;
}
.person-image {
	aspect-ratio: 1;
	border-radius: 5px;
	height: 5em;
	object-fit: cover;
}
.person-details {
	display: grid;
	align-content: center;
}
.person-name {
	font-weight: bold;
}
.person-description {
	font-style: italic;
	font-size: .9em;
	font-weight: 300;
	color: #707070;
}

/* 📌ROOT MARKER */

.root-marker {
	border-radius: 50vh;
	height: 4rem;
	aspect-ratio: 1;
	position: absolute;
	inset: 2rem;
	border: 1px solid red;
	background-color: rgb(255 255 255 / .8);
	translate: -50% -50%;
	user-select: none;
	z-index: 10;
	backdrop-filter: blur(2px);
	opacity: 0;
	scale: .7;
	transition: opacity 100ms var(--bezier), scale 100ms var(--bezier);
}
.root-marker::before {
	content: "\e8fd";
	
	font-family: unicons-line;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: absolute;
	top: -1.15em;
	left: 50%;
	transform: translateX(-50%);
}
.root-marker.visible {
	opacity: 1;
	scale: 1;
	cursor: pointer;
}

/* TIMELINE HEADER */

.timeline-header {
	position: absolute;
	inset: 0;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	z-index: 999;
	background: linear-gradient(
		rgb(255 255 255),
		rgb(255 255 255 / 0)
	)
}
.header-button {
	background-color: transparent;
	border: none;
	font-size: 1.2em;
	cursor: pointer;
}

/* 🍞 TOASTS */

.toast-container {
	position: absolute;
	bottom: 0;
	width: 100vw;
	display: grid;
	justify-items: center;
	align-items: flex-end;
	gap: .5rem;
	margin-bottom: .5rem;
	z-index: 999;
	user-select: none;
}
.toast {
	background-color: rgb(255 255 255 / .8);
	backdrop-filter: blur(2px);
	border-radius: 5px;
	padding: .2em .5em;
}

/*
=== ANIMATIONS
*/
@keyframes pop {
	from {
		opacity: 0;
		scale: .7;
	}
}
@keyframes pop-up {
	from {
		translate: 0 10px;
		opacity: 0;
	}
}